<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>My Title</title>
        <style type="text/css">
            @font-face { font-family: Arial; font-weight:normal; src: url({{ path }}Arial.ttf);}
            @font-face { font-family: Arial; font-weight:bold; src: url({{ path }}ArialBold.ttf);}
            @font-face { font-family: Verdana; font-weight:normal; src: url({{ path }}Verdana.ttf);}
            @font-face { font-family: Verdana; font-weight:bold; src: url({{ path }}VerdanaBold.ttf);}
            html {
                font-family: Arial;
                font-size: 16px;
                }
            @page {
                size: {{ pagesize }};
                margin: 1cm 0 1cm 0;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }

            a {
                color: #c43939;
            }

            .page-1 {
                margin: 0 96px 0px 96px;
                font-family: Verdana;
            }
            .logo {
                margin: 0 0 0 20px;
            }
            .title {
                font-size: 19px;
                padding: 0 0 0 48px;
            }
            .contacts {
                padding: 0 0 0 48px;
                /*margin: 100px 0 0 0;*/
                font-size: 19px;
            }
            .small-title {
                font-size: 17px;
                color: #999999;
            }
            .small-title h2 {
                margin: 0;
                padding: 0 0 0 48px;
                font-size: 17px;
                font-weight: normal;
            }

            .page-2 {
                margin: 0 96px 0px 96px;
            }
            h1.text-title {
                font-size: 24px;
                font-weight: bold;
                margin: 0;
                padding: 0;
                text-indent: 48px;
            }
            p.text {
                margin: 0 0 20px 0;
                padding: 0;
                text-indent: 48px;
                font-family: Verdana;
                line-height: 30px;
                text-align: justify;
            }
            ul.keysets {
                padding: 0 0 0 20px;
                font-size: 20px;
                font-family: Verdana;
            }
            .keysets-block {
                margin: 0 0 20px 48px;
            }
            p.keyset-p {
                font-family: Verdana;
                margin: 0 0 0 15px;
                padding: 0 0 7px 0;
            }
            p.keyset-p span {
                font-family: Verdana;
                font-weight: bold;
                font-size: 18px;
            }
            ul.keyset-u {
                padding: 0 0 0 50px;
                margin: 0;
                font-family: Verdana;
            }
            ul.keyset-u li{
                font-size: 15px;
                font-family: Verdana;
            }
            h3 {
               font-weight: bold;
               color: #666666; 
            }
            ul.competitors {
                font-size: 16px;
                font-family: Verdana;
                padding: 0 0 0 20px;
            }
            p.end-contacts {
                padding: 0 0 0 48px;
                line-height: 30px;
                font-size: 15px;
                font-family: Verdana;
            }
        </style>
    </head>
    <body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="page page-1">
            <div class="logo">
                <a href='http://webpp.ru/'><img width="413" height="84" src="{{ path }}webpp-logo.png" /></a>
            </div>
            <div class="title">
                <p>
                     Коммерческое предложение на создание и продвиженение сайта
                </p>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="contacts">
                <div class="contact-container">
                    <div class="small-title">
                        <h2>Наш адрес:</h2>
                    </div>
                    <div class="contact-value">
                        400012, г. Волгоград, ул. Рокоссовского 29“б”, офис 301
                    </div>
                </div>
                <br />
                <div class="contact-container">
                    <div class="small-title">
                        <h2>В Интернет:</h2>
                    </div>
                    <div class="contact-value">
                        <a href='http://webpp.ru/'>www.webpp.ru</a><br />
                        <a href='mailto:office@webpp.ru'>office@webpp.ru</a>
                    </div>
                </div>
                <br />
                <div class="contact-container">
                    <div class="small-title">
                        <h2>Телефоны в Волгограде:</h2>
                    </div>
                    <div class="contact-value">
                        +7 (8442) 25-21-31<br />
                        +7 (8442) 50-65-71
                    </div>
                </div>
                <br />
                <div class="contact-container">
                    <div class="small-title">
                        <h2>Режим работы:</h2>
                    </div>
                    <div class="contact-value">
                        понедельник - пятница <span class="big">с 9:00 до 18:00</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="page page-2">
            <h1 class="text-title">Создание и продвижение сайтов “под ключ”</h1>
            <p class="text">
                Мы создаем и продвигаем сайты в Волгограде более 5ти лет.
            </p>
            <p class="text">
                Наше агентство выполнило анализ конкуренции Вашего бизнес-направления в поисковых системах. Мы подобрали ключевые запросы, посчитали стоимость, а так же собрали список Ваших конкурентов, которые <b>уже имеют свой собственный сайт</b> и занимают <b>первые позиции в поисковых системах.</b> Предлагаем и Вам <b>быть среди лидеров в поисковых системах</b> и получать Клиентов из сети Интернет.
            </p>
            <p class="text">
                Мы разработали ценовые сегменты, в рамках которых можно выполнять продвижение Вашего сайта:
            </p>
            <ul class="keysets">
                {% for keyset in info.keysets %}
                    <li>{{ keyset.name }}:  <b>&nbsp;{{ keyset.price }}</b> р.</li>
                {% endfor %}
            </ul>
            <br />
            <p class="text">
                Каждый тариф отличается стоимостью и количеством ключевых запросов, по которым будет выполняться продвижение.
            </p>
            {% for keyset in info.keysets %}
                <div class="keysets-block">
                    <h2>{{ keyset.name }}</h2>
                    <p class="keyset-p">Количество ключевых слов:&nbsp;&nbsp;<span>{{ keyset.count }} шт.</span></p>
                    <p class="keyset-p">Стоимость:&nbsp;&nbsp;<span>{{ keyset.price }} р.</span></p>
                    <p class="keyset-p">Список ключевых слов:</p>
                    <ul class="keyset-u">
                        {% for keyword in keyset.keywords_values %}
                            <li>{{ keyword }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <br />
            <br />
            <h3>Анализ конкурентов</h3>
            <p class="text">
                А так же мы проанализировали конкурентность Вашей тематики, и выявили следующие компании, сайты которых уже успешно продвигаются и располагается на первых позициях в поисковых системах.
            </p>
            <ul class="competitors">
                {% for competitor in info.competitors %}
                    <li>{{ competitor.competitor_domain }}</li>
                {% endfor %}
            </ul>
            <br />
            <br />
            <p class="text">
                Предлагаем и Вам занять первые позиции в поисковых системах и получать Клиентов из сети Интернет. Все запросы, которые мы предложили <b>уже спрашиваются в поисковых системах.</b>
            </p>
            <br />
            <br />
            <br />
            <p class="end-contacts">
                С наилучшими пожеланиями,<br />
                Интернет-агентство “Web++”<br />
                +7 (8442) 25-21-31, 50-65-71<br />
                <a href='http://www.webpp.ru'>http://www.webpp.ru</a><br />
            </p>
        </div>
    </body>
</html>